colorama
contourpy
cycler
filelock
fonttools
fsspec
intel-openmp
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mkl
mpmath
networkx
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sympy
tbb
threadpoolctl
torch
torchinfo
torchvision
tqdm
typing_extensions
tzdata
FrEIA
anomalib
